th[data-id=level_name] {
    min-width: 90px;
}

/* RAL 6017 */
.openerp .header,
.openerp .main_table,
.openerp .ui-widget-header,
.openerp .menu,
.openerp .menu a:hover,
.openerp .menu a:focus,
.openerp .menu a.active,
.openerp .secondary_menu a.oe_secondary_menu_item
{
    background-color: #468641 !important;
}

.openerp .menu a:hover,
.openerp .menu a:focus,
.openerp .menu a.active {
    color: #FAAB21;
}

.openerp a.oe_secondary_submenu_item:hover,
.openerp a.oe_secondary_submenu_item.leaf.active,
.openerp .oe_button:hover
{
    background-color: #48A43F;
}

.openerp .oe_forms .oe_form_button .oe_button {
    /* border: 1px solid #48A43F; */
    border: 1px solid darkgreen;
}
